{
  "action": "option",
  "options": [
    {
      "action": "config",
      "file": "/projectiles/drop/bigdrop.config"
    },
    {
      "action": "config",
      "file": "/projectiles/drop/drop.config"
    },
    {
      "action": "config",
      "file": "/projectiles/drop/smalldrop.config"
    }
  ]
}
